
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $background-color;
  color: $font-color;
  margin-left: 12px;
  margin-right: 12px;
}

h4 {
  color: black;
}

.box {
  border: 1px solid $white;
}

.col-xs-4 {
  padding: 12px;
}

.grey {
  background-color: grey;
}

.teal {
  background-color: $teal;
}

.modal-title {
  color: red;
}

.row {
  //display: table-row;
  //height: 200px;
  margin-left: 12px;
  margin-right: 12px;
  //width: 100%;
  height: 100%;
  text-align: center;
}

.title {
  text-align: center;
}
