$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

input {
  color: $black;
}

.hidden {
  display: none;
}

.game-board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: center;
  margin-top: 20px;
}

.box {
  align-items: center;
  border: 1px solid red;
  justify-content: center;
  cursor: pointer;

  &:before {
    font-size: 1.5em;
    line-height: 1;
  }

  &.cross::before {
    content: "x";
    color: green;
  }

  &.circle:before {
    content: "o";
    color: white;
  }
}

body {
  background-color: $background-color;
  color: $font-color;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 50px;
}

legend {
  color: $font-color;
}

.turn {
  margin-bottom: 10px;
}

.block {
  margin-bottom: 10px;
}

table {
  width: 150px;
  margin: 0 auto;

  td {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    cursor: pointer;

    &:before {
      font-size: 3em;
      line-height: 0.5;
    }

    &.cross:before {
      content: "x";
      color: white;
    }

    &.circle:before {
      content: "o";
      color: white;
    }

    &.noclick {
      pointer-events: none;
    }
  }
}

.reset {
  background: #555;
  border: 1px solid #333;
  padding: 5px 10px;
  color: #FFF;

  &:hover {
    opacity: 0.8;
  }
}

.messages {
  padding: 5px 10px;
}
